<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="">
    <item label="Terminal"><action name="Execute" command="foot" /></item>
    <separator />
    <item label="Reload desktop"><action name="Reconfigure" /></item>
    <item label="Log out"><action name="Exit" /></item>
    <item label="Restart"><action name="Execute" command="systemctl reboot" /></item>
    <item label="Shut down"><action name="Execute" command="systemctl poweroff" /></item>
  </menu>
</openbox_menu>
