SERIAL 0 115200
UI vesamenu.c32
MENU TITLE Start Firelamp OS
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 7
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Refer to https://wiki.syslinux.org/wiki/index.php/Comboot/menu.c32

MENU COLOR border       30;44   #40ffb347 #a0140d0b std
MENU COLOR title        1;36;44 #ffffb347 #00000000 std
MENU COLOR sel          7;37;40 #fffff4e6 #c0ff6a2b all
MENU COLOR unsel        37;44   #c0f4e6dc #a0140d0b std
MENU COLOR help         37;40   #c0d8c4b8 #a0140d0b std
MENU COLOR timeout_msg  37;40   #80d8c4b8 #00000000 std
MENU COLOR timeout      1;37;40 #ffffb347 #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #80d8c4b8 #00000000 std

MENU CLEAR
MENU IMMEDIATE
