LABEL arch
TEXT HELP
Boot the Firelamp OS on BIOS.
It allows you to try Firelamp OS or install it.
ENDTEXT
MENU LABEL Firelamp OS (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% %KERNEL_PARAMS%

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the Firelamp OS on BIOS with speakup screen reader.
It allows you to try Firelamp OS or install it with speech feedback.
ENDTEXT
MENU LABEL Firelamp OS (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on %KERNEL_PARAMS%

LABEL firelamp_console
TEXT HELP
Boot Firelamp OS to a text console without starting the desktop.
ENDTEXT
MENU LABEL Firelamp OS (%ARCH%, BIOS) ^console only
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% systemd.unit=multi-user.target %KERNEL_PARAMS%
